<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zust.se.mapper.UserMapper">
  <select id="pageByQuery" parameterType="cn.edu.zust.se.domain.query.UserQuery"
          resultType="cn.edu.zust.se.domain.vo.UserVO">
    select
      id,
      user_name as userName,
      name,
      admin,
      create_time as createTime
    from user
    <where>
      <if test="query.userName != null">
        and user_name like concat('%', #{query.userName}, '%')
      </if>
      <if test="query.name != null">
        and name like concat('%', #{query.name}, '%')
      </if>
      <if test="query.admin != null">
        and admin = #{query.admin}
      </if>
      <if test="query.startCreateTime != null">
        and create_time &gt;= #{query.startCreateTime}
      </if>
      <if test="query.endCreateTime != null">
        and create_time &lt;= #{query.endCreateTime}
      </if>
    </where>
    order by
    <choose>
        <when test="query.sortBy != null and query.sortBy != ''">
          ${query.sortBy}
          <choose>
            <when test="query.isAsc != null and query.isAsc == true">
              ASC
            </when>
            <otherwise>
              DESC
            </otherwise>
          </choose>
        </when>
        <otherwise>
          COALESCE(create_time) DESC
        </otherwise>
    </choose>
  </select>
  <select id="pageByUserName" parameterType="cn.edu.zust.se.domain.query.UserNameQuery"
          resultType="cn.edu.zust.se.domain.vo.UserVO">
    select
        id,
        user_name as userName
    from user
    <where>
      <if test="query.userName != null and query.userName != ''">
        user_name like concat('%', #{query.userName}, '%')
      </if>
    </where>
  </select>
</mapper>
